h1.title {
	font-family: clone-rounded-latin, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 2.8em;
	margin-bottom: 0.5em !important;
}

p {
	margin-bottom: 0.6em !important;
}

code {
	font-family: antarctican-mono,sans-serif;
	font-weight: 400;
	font-style: normal;
	border-radius: 3px;
}

.title:not(.is-spaced)+.subtitle {
	margin-top: -0.4em !important;
	line-height: 1.4em;
}

p + .title {
	margin-top: 1.8em !important;
}

.section {
	padding: 6.5rem 1.5rem;
}

.section.is-light {
	background: #fafafa;
}

.section.is-light + .section.is-light {
	padding-top: 0;
}

.hero .level code {
	font-size: 16px;
	border: 1px solid #ccc;
	padding: 0 8px;
	line-height: 26px;
}

.hero .level span {
	height: 28px;
}