$family-primary = Inter, BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$family-monospace = antarctican-mono, sans-serif

$green = #4dcf89
$grey-dark = $text-strong = $link = #384c54

$red = #da1c42

$dark-bg = #111
$dark-fg = #eaeaea
$dark-green = darken($green, 30%)
